.about {

    background-color: #1abc9c;
    padding: 40px 0px;


}
.line{
    border: 3px solid #ffffff;
    width: 15%;
    height: 0;
    border-radius: 10px;
    margin: 5px 15px;
}
.staricon{
   color: #ffffff;
  font-size: 30px;
  
}
.custom {
    margin: 2rem 0 1.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setsize{
    width: 35%;
   
}